.logout {
    display: inline-block;
    float: right;
    margin-right: 13px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    padding: 8px;
    text-decoration: none;
    color: white;
}